@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.bg-wood-texture {
    background-image: url('path_to_wood_texture.jpg');
} */


.book {
    perspective: 1000px;
}

.book:hover {
    transform: rotateY(10deg);
}
/* For WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; 
}

.custom-scrollbar:hover {
    scrollbar-color: darkgrey slategrey; 
}

.swiper {
  width: 90%;
  padding-bottom: 20px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

#skills {
    position: relative;
  }
  
  .background-layer {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/skill.png');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
  }
  
  


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}